$color-primary: #13C2C2 !default;
$color-danger: #f56c6c !default;
$color-success: #67c23a !default;
$color-warning: #FAAE14 !default;
$color-regular: #eef8f8 !default;
$color-ding-blue:#3aa3ff !default;

//$color-primary-hover: rgba($color-primary,.1) !default;
$color-primary-hover: mix(#fff, $color-primary, 89.88%) !default;

$text-color-primary: #333 !default;
$text-color-regular: #666 !default;
$text-color-secondary: #999 !default;
$text-color-gray: #ccc !default;

$border-color-base: #e0e1e2 !default;
$border-radius-base: 2px !default; //边框圆角

$button-radius-base: 4px !default; //按钮圆角

$input-border-hover-color: mix(#fff, $color-primary, 45%) !default;

$font-size-small: 12px !default;
$font-size-base: 14px !default;
$font-size-large: 16px !default;
$font-size-larger: 18px !default;
$text-color-main: #051A13 !default;
$color-primary-light-9: mix(#fff, $color-primary, 90%) !default;

// 背景颜色
$bg-color-l1: #F5F5F5 !default;
$bg-color-l2: #fafafa !default;
$bg-color-l3: #f2f2f2 !default;

// 边框颜色
$color-border-l1: #D8D8D8 !default;
$color-border-l2: #E5E5E5 !default;
$color-border-l3: #EBEBEB !default;
$color-border-l4: #F0F0F0 !default;

// 导航颜色
$color-nav-primary: #2F4858 !default;
$color-nav-secondary: #22394B !default;
$color-nav-hover: rgba(255, 255, 255, .08) !default;

// 表格hover颜色
$color-td-hover: #F5FAFA !default;

$color-main:#00D1B2;