input,
textarea {
  padding: 3px 10px;
  line-height: 24px;
  border: 1px solid #e0e1e2;
  border-radius: 2px;
  margin: 0;
  outline: none;
  color: #333 !important;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    border-color: $input-border-hover-color;
  }

  &:focus {
    border-color: $color-primary;
  }

  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b3b7c1;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b3b7c1;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b3b7c1;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #b3b7c1;
  }
}

textarea {
  min-height: 32px;
  max-height: 320px;
  display: block;
  word-break: break-all;
}

// S 工单列表
.task {
  // flex布局
  &-flex {
    display: flex;
    flex-wrap: wrap;
  }
  &-ai {
    align-items: center;
  }
  &-jend {
    justify-content: flex-end;
  }
  &-span1 {
    flex: 1;
  }
  &-span3 {
    flex: 3;
  }
  // 字体大小
  &-font12 {
    font-size: 12px;
  }
  &-font14 {
    font-size: 14px;
  }
  &-font16 {
    font-size: 16px;
  }
  &-font24 {
    font-size: 24px;
  }
  // 加粗
  &-fw6 {
    font-weight: 600;
  }
  // 颜色
  &-c6 {
    color: #666;
  }
  &-c9 {
    color: #999;
  }
  &-c3 {
    color: #333;
  }
  &-cef {
    color: #ef6b6b!important;
  }
  &-c06 {
    color: rgba(0, 0, 0, 0.65);
  }
  &-cfa {
    color: #FAAE14;
  }
  &-c2 {
    color: #13c2c2!important;
    // font-weight: 500;
  }
  &-c13 {
    color: #13c2c2;
  }
  // 边距
  &-ml12 {
    margin-left: 12px;
  }
  &-mr4 {
    margin-right: 4px;
  }
  &-ml4 {
    margin-left: 4px;
  }
  &-mt8 {
    margin-top: 8px;
  }
  &-mt15 {
    margin-top: 15px;
  }
  &-mt12 {
    margin-top: 12px;
  }
  &-ml15 {
    margin-left: 15px;
  }
  &-mtb13 {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  //
  &-pointer {
    cursor: pointer;
  }
  // top
  &-top2 {
    position: relative;
    top: 2px;
  }
}
// E 工单列表

// element
.base-button {
  border-radius: 4px !important;
  padding: 4px 15px !important;
}

.task-with-input {
  width: 300px !important;
}
.task-with-select {
  width: 100px !important;
}
.table-footer-select {
  width: 60px;
  margin: 0 4px;
}
.task-header-tr {
  height: 40px;
}
.task-list-view {
  .task-list-section th {
    padding: 3px 0 !important;
    border-bottom: 1px solid #f2f2f2 !important;
    border-right: 1px solid #f2f2f2 !important;
    &:first-child, &:last-child {
      border-right: none !important;
    }
    > div {
      font-size: 14px !important;
      font-weight: 500 !important;
    }
  }
  .task-list-section td {
    padding: 4px 0 !important;
    border-bottom: 1px solid #f2f2f2 !important;
    border-right: 1px solid #f2f2f2 !important;
    &:first-child, &:last-child {
      border-right: none !important;
    }
    > div {
      font-size: 13px !important;
      line-height: 31px !important;
      color: #666 !important;
    }
  }
  .ascending {
    border-bottom-color: #999!important;
  }
  .descending {
    border-top-color: #999!important;
  }
  .el-table .ascending .sort-caret.ascending {
    border-bottom-color:#55B7B4!important;
  }
  .el-table .descending .sort-caret.descending {
    border-top-color:#55B7B4!important;
  }
  .el-table--border {
    border: none;
    padding: 0;
    &::after {
      width: 0 !important;
    }
  }
  .el-input-group__prepend {
    background-color: #fafafa!important;
  }
}
.task-view-customize{
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0!important;
  width: 200px;
  &:hover {
    color: #333!important;
    background-color: #fff!important;
  }
  > div{
    width: 100%;
    padding-left: 15px;
    &:hover {
      background-color: #e7f9f9;
      color: #42cece;
    }
    &:hover .task-list-dropdown-icon {
      display: block;
    }
  }
}
.task-icon {
  font-size: 12px!important;
  color: #999!important;
}