.btn{
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  padding: 4px 10px;
  line-height: 24px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color .3s ease;

  &:active{
    opacity: 0.85;
  }

}

.btn-text{
  outline: none;
  border:none;
  background-color: transparent;
}

.btn-primary{
  color: #fff;
  background-color: $color-primary;

  &:hover{
    //background: #33bdac;
    background-color: lighten($color-primary, 3%);
  }

  &:disabled{
    //background: #33bdac;
    background-color: lighten($color-primary, 3%) !important;
    opacity: 0.65 !important;
    cursor: not-allowed;
  }
}