@import './reboot.scss';
@import './transition.scss';

@import './button.scss';

body{
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  color: #314659;
  font-size: 14px;
}

iframe{
  border: none;
}

button{
  cursor: pointer;
}