// ------------------ slide down ------------------
.slide-down-enter-active,
.slide-down-leave-active{
  transition: opacity ease .3s;

  .transition-container{
    transition: transform ease .3s;
  }
}

.slide-down-enter,
.slide-down-leave-active{
  opacity: 0;

  .transition-container{
    transform: translate3d(0, -120px, 0);
    backface-visibility: hidden; /*元素旋转时隐藏背面*/
    transform-style: preserve-3d; /*保留3D空间*/
  }
}

.collapse-enter-active,
.collapse-leave-active{
  transition: width ease .3s,
             opacity ease .3s;
}

.collapse-enter,
.collapse-leave-active{
  width: 0 !important;
  opacity: 0;
}