.pull-right{
  float: right !important;
}

.pull-left{
  float: left !important;
}

.hidden{
  display: none !important;
}

.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-left{
  padding-left: 0 !important;
}

.pre-line{
  white-space: pre-line !important;
  word-break: break-all;
}

.text-danger{
  color: $color-danger !important;
}
