.pull-right{
  float: right !important;
}

.pull-left{
  float: left !important;
}

.hidden{
  display: none !important;
}

.no-margin{
  margin: 0 !important;
}

.pre-line{
  white-space: pre-line !important;
  word-break: break-all;
}

.text-danger{
  color: $color-danger !important;
}

.superscript{
  position: relative;
  padding-left: 20px;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: linear-gradient(135deg, #ff9900 50%, transparent 50%);
  }

  &::after{
    content: "示例";
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transform: scale(0.9166666) rotateZ(-45deg);
  }
}
::selection {
  background: $color-primary;
  color: #fff;
}
  
::-moz-selection {
  background: $color-primary;
  color: #fff;
}