.pull-right{
  float: right !important;
}

.pull-left{
  float: left !important;
}

.hidden{
  display: none !important;
}

.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-left{
  padding-left: 0 !important;
}

.pre-line{
  white-space: pre-line !important;
  word-break: break-all;
}

.text-danger{
  color: $color-danger !important;
}

.font-size-14{
  font-size: 14px;
}

.font-size-16{
  font-size: 16px;
}

.font-w-600{
  font-weight: 600;
}

.align-items-center {
  display: flex;
  align-items: center;
}
