{
  "presets": [
    ["env", { 
      "modules": false,
      "useBuiltIns": "usage",
      "targets": {
        "browsers": ["> 5% in CN", "ie >= 10", "chrome >= 49"]
      }
    }]
  ],
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-decorators",
    "transform-vue-jsx",
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }]
  ]
}