.task-allot-pool {
  height: 100%;
  width: 100%;
  
  position: relative;
}
.task-allot-map {
  height: 100%;
  width: 100%;
}
#TaskAllotPoolMapContainer {
  height: 100%;
  width: 100%;
}

.task-allot-pool-notification,
.task-allot-pool-info {
  background-color: #fff;
  
  width: 180px;
  min-height: 140px;
  padding: 8px 12px;
  
  position: absolute;
  top: 16px;
  left: 16px;
  
  .el-checkbox-group {
    margin-top: 8px;
  }
}

.task-allot-pool-notification {
  &-input {
    cursor: pointer;
    border: 1px solid $text-color-gray;
    border-radius: 4px;
    line-height: 28px;
    padding: 0 10px;
    
    span {
      display: inline-block;
    }
    
  }
  &-placeholder {
    color: $text-color-secondary;
    font-size: $font-size-small;
  }
}

.task-allot-pool-info {
  left: inherit;
  right: 16px;
}