.task-allot-pool {
  height: 100%;
  width: 100%;
  
  position: relative;
}
.task-allot-map {
  height: 100%;
  width: 100%;
}
#TaskAllotPoolMapContainer {
  height: 100%;
  width: 100%;
}

.task-allot-pool-notification,
.task-allot-pool-info {
  background-color: #fff;
  
  width: 180px;
  min-height: 140px;
  padding: 8px 12px;
  
  position: absolute;
  top: 16px;
  left: 16px;
  
  .el-checkbox-group {
    margin-top: 8px;
  }
}

.task-allot-pool-notification {
  &-input {
    cursor: pointer;
    border: 1px solid $text-color-gray;
    border-radius: 4px;
    line-height: 28px;
    padding: 0 10px;
    
    span {
      display: inline-block;
    }
    
  }
  &-placeholder {
    color: $text-color-secondary;
    font-size: $font-size-small;
  }
}

.task-allot-pool-info {
  left: inherit;
  right: 16px;
}

.task-pool-icon {
  color: $text-color-gray;
}

.task-pool-timeout {
  color: #FB602D;
}

// start 用户信息弹窗
.task-pool-user-content {
  width: 260px;
  padding: 12px 12px 8px;
  margin-bottom: 10px;
  position: relative;

  background-color: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid $color-border-l2;
  border-radius: $button-radius-base;
  
  .customer-name {
    margin-bottom: 6px;
    font-weight: 500;
  }
  
  p {
    font-size: $font-size-small;
    margin-bottom: 2px;
    
    label {
      color: $text-color-regular;
      margin-bottom: 0;
    }
  }
  
  .info-window-arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 125px;
    bottom: -5px;
    
    background: #fff;
    border: 1px solid $color-border-l2;
    border-top-color: #fff;
    border-left-color: #fff;
    transform: rotate(45deg);
  }
}
// end 用户信息弹窗