.nested-draggable-block {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: 30px;
  line-height: 30px;
  padding: 0 20px 0 0;

  & & {
    padding-left: 20px;
  }

}

.biz-select-column-sort-row {
  height: 30px;
  font-weight: 500;
  line-height: 30px;
}

.biz-select-column-sort-row,
.nested-draggable-name {
  color: $text-color-primary;
  display: flex;
  line-height: 20px;

  &-label {
    width: 60px;
  }

  &-text {
    flex: 1;
  }

}