//$-header-hover-color:  #CFEAE9;

html, body, .frame{
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.frame{
  // position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.frame-content{
  flex: 1;
  height: 100%;
}

.logout:hover a{
  color: #ed3f14;
}

.export-row{
  display: flex;
  flex-flow: row nowrap;
}

.dev-tool{
  color: red;
}

.dev-tool-menu{
  min-width: 100px;
  max-height: 360px;
  overflow: auto;

  a{
    display: block;
    padding: 5px 0;
    color: red;
  }
}

.frame-tab-transition{
  transition: transform linear .3s;
}

.frame-main{
  height: calc(100% - 91px);
}

.frame-tab-content{
  height: 100%;
}

.frame-tab-window{
  height: 100%;

  iframe{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.frame-tabs-popper{
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0, 21, 41, .175);
}

.frame-tabs-panel{
  padding: 0 5px;
  width: 180px;
  max-height: 520px;
  overflow-x: hidden;
  overflow-y: auto;
  
  .frame-tab{
    margin: 2px 0 0 0;
    width: 100%;

    .frame-tab-inner{
      border-radius: 2px;
      padding: 8px 5px;

      .frame-tab-name{
        flex: 1;
        @include text-ellipsis();
      }
    }

    &:before{
      content: none;
    }

    &:first-child{
      margin-top: 0;
    }
  }
}

/**************** frame header ****************/
.frame-header{
  position: relative;
  z-index: 8;
  box-shadow: 0 1px 3px #d8d8d8;
}

.frame-quick{
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  user-select: none;
  background: mix(#fff, $color-primary, 89.88%);
  border-bottom: 1px solid #f2f2f2;
}

.frame-quick-left{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.frame-quick-right{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 4px;
}

.frame-header-btn{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
  color: $text-color-regular;
  transition: color ease .3s;
  text-decoration: none !important;

  &:hover{
    color: $color-primary;
  }

  i.iconfont{
    font-size: 16px;
  }
}

.frame-header-btn-bg:hover{
  //background: $color-primary-hover;
  background-color: #CFEAE9;
}

/**************** frame tabs ****************/
.frame-tabs{
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.frame-tabs-scroll{
  height: 41px;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.frame-tabs-border{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #f2f2f2;
}

.frame-tabs-list{
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  z-index: 1;
}

.frame-tabs-prev,
.frame-tabs-next{
  width: 40px;
  height: 41px;
  text-align: center;
  line-height: 40px;
  color: #999;
  padding: 0;
  cursor: not-allowed;
  border-bottom: 1px solid #f2f2f2;

  &.frame-tab-highlight{
    color: $text-color-secondary;
    cursor: pointer;

    &:hover{
      color: $color-primary;
    }
  }
}

.frame-tabs-prev.frame-tab-highlight{
  box-shadow: 4px 0 12px rgba(0, 0, 0, .125);
}

.frame-tabs-next.frame-tab-highlight{
  box-shadow: -4px 0 12px rgba(0, 0, 0, .125)
}

.frame-tabs-line{
  position: absolute;
  bottom: -1px;
  height: 0px;
  width: 100px;
  border-bottom: 1px solid $color-primary;
}

/**************** export ****************/
.export-panel-popper{
  width: 380px;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 21, 41, .175);
  border: none;
  padding: 0;
  border-radius: 2px;
}

.frame-export-panel{
  padding: 5px 0;
  max-height: 520px;
  overflow: auto;

  h3{
    line-height: 24px;
    font-weight: 500;
    margin: 0 5px;
    border-bottom: 1px solid #f4f7f5;
    font-size: 16px;
    padding-bottom: 5px;
    color: $text-color-primary;
  }
}

.export-row{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
  transition: background-color ease .3s;

  img{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 2px;
  }

  &:hover{
    background-color: $color-primary-hover;
  }
}

.export-empty{
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.export-row-info{
  flex: 1;
  overflow: hidden;
  padding: 0 5px;

  h4,p{
    margin: 0;
  }

  h4{
    font-size: 14px;
    line-height: 18px;
    color: $text-color-primary;
    font-weight: 400;
    @include text-ellipsis;
  }

  p{
    line-height: 14px;
    font-size: 12px;
    color: #797e89;
  }
}

.export-row-badge{
  border-radius: 4px;
  background-color: #409EFF;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 4px 6px;
  line-height: 1;
  margin: 0 5px;
}

.export-row-badge-finished{
  background-color: #6cc87f;
}

.export-operate-btn{
  padding: 0;
  min-width: 65px;
  text-align: right;
  background-color: transparent;
  cursor: default;
}

button.export-operate-btn{
  color: #007bff;
  cursor: pointer;
}

/**************** user ****************/
.frame-user-profile{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4px 0;
  color: $text-color-secondary;
  width: 160px;
  transition: background-color ease .3s;
  z-index: 9;

  &:hover{
    //background-color: $color-primary-hover;
    background-color: #CFEAE9;
  }
}

.user-profile{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-avatar{
  position: relative;
  width: 42px;
  height: 42px;
  padding: 5px;
  margin-right: 10px;

  img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.user-info{
  flex: 1;
  overflow: hidden;

  h4,p{
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
  }

  h4{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: $text-color-primary;
  }

  p{
    font-size: 13px;
    line-height: 14px;
    color: #797e89;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.user-profile-down{
  font-size: 12px;
  width: 20px;
  text-align: center;
  color: #666;
}

.user-profile-menu{
  width: 160px;
  background-color: #fff;
  padding: 5px 0;
  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 8px rgba(0, 21, 41, .175);
  transition: background-color ease .3s;
}

.user-profile-item{
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  color: #797e89;
  transition: background-color ease .3s;
  
  i{
    font-size: 14px;
    margin-right: 8px;
  }

  &:hover{
    background-color: $color-primary-hover;
  }

  a{
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }
}

.user-color-icon{
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #999;
}

.user-color-icon-mini{
  position: absolute;
  right: 4px;
  bottom: 4px;
  margin: 0;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
}

.user-state-popper{
  margin-top: -5px;
  background-color: #fff;
  padding: 0;
  
  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 8px rgba(0, 21, 41, .175);
  transition: background-color ease .3s;
}

.user-state-panel{
  padding: 5px 0;
  max-height: 620px;
  overflow-y: auto;
}

.user-state-item{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

// notification
.notification-btn {
  position: relative;
}
.notification-number {
  position: absolute;
  top: -18px;
  right: 3px;
  font-size: 8px;
  color: #fff;
}
.notification-new {
  position: absolute;
  top: 12px;
  left: 25px;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  padding: 0 3px;
  color: #fff;
  background: #f44552;
  border-radius: 12px;
}
.frame-quick-notification {
  position: relative;
  height: 20px;
  color: #F30014;
}
.frame-quick-notification-btn {
  position: absolute;
  right: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  transition: color ease .15s;

  i {
    color: #F30014;
    font-size: 14px;
  }

  &:hover{
    color: #e84040;
  }
}
.frame-quick-notification-info {
  position: relative;
  width: 450px;
  height: 100%;
  margin-right: 30px;
  white-space: nowrap;
  overflow: hidden;
}
.frame-quick-notification-content {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 20px;
  &:hover {
    animation-play-state: paused !important;
  }
}
.frame-quick-notification-text {
  margin: 0;
}
@-webkit-keyframes text-scroll {
  0% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes text-scroll {
  0% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes text-scroll-reverse {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    
  }
}
@keyframes text-scroll-reverse {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}