.product-template-option,
.customer-template-option {
  * {
    margin: 0;
  }
  padding: 10px 0;
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  p {
    display: flex;
    justify-content: space-between;
    line-height: 24px;

    & > span {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-size: 12px;
      color: #666666;
      padding-right: 10px;

      & > label {
        padding: 0;
        width: 60px;
      }
    }
  }
}

.customer-template-option {
  p {
    span {
      label {
        width: 40px;
      }
    }
  }
}

.product-template-option { 
  h3 {
    @include text-ellipsis()
  }
}

.input-and-btn .base-select-container{
  flex: 1;
}

.add-dialog-container {
  .base-modal-body {
    height: 580px;

    .customer-modal-container {
      .form-builder {
        width: 100%;
      }
    }
  }

  .base-modal-footer {
    border-top: 1px solid #f4f4f4;
    padding: 6px;

    .dialog-footer {
      text-align: right;
    }
  }
}

.form-item-control {
  position: relative;
  .task-count-button,
  .task-notice-customer-block {
    position: absolute;
    right: -80px;
    top: 0;
  }
  .task-notice-customer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: -150px;
    width: 140px;
    .el-checkbox {
      padding-top: 0;
    }
  }
}

.base-select-container {
  .option-list {
    max-height: 400px;
  }
}