.task-receipt-edit-container {
  .form-builder {
    padding: 10px 0;
  }

  .task-receipt-expense .item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 42px;
    line-height: 42px;

    input.text-red {
      width: 100px;
      color: #dd4b39 !important;
    }
  }
}