/* start 弹窗 */
.task-allot-modal {
  display: flex;
  & > .base-modal {
    height: calc(100vh - 100px);
    width: calc(100% - 100px) !important;
    & > .base-modal-body {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      padding: 0 !important;
      overflow: hidden;
    }
    & > .base-modal-header {
      background-color: #FAFAFA;
    }
  }
  .task-allot-nav {
    width: 180px;
    padding: 0 16px;
    overflow: auto;
    overflow-x: hidden;
  }
  .task-allot-content {
    flex: 1;
    height: calc(100% - 60px);
  }
  .dialog-footer {
    display: flex;
    justify-content: flex-end;
  }
  .el-radio-button__inner {
    box-shadow: none !important;
  }
  .option-list {
    max-height: 400px;
  }
}
/* end 弹窗 */

/* start 派单 导航 */
.task-allot-nav {
  &-title {
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 0 10px;
  }
}
/* end 派单 导航 */

/* start 负责人 */
.task-allot-executor {
  &-placeholder {
    color: $text-color-secondary;
    list-style: 30px;
  }
}
/* end 负责人 */

/* start 协同人 */
.task-allot-synergy {
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .user-button {
      margin: 0 5px 5px 0;
    }
    &-item {
      display: flex;
      & > span {
        color: #999;
        display: block;
        width: 20px;
        font-size: 22px;
        line-height: 40px;
      }
    }
  }
}
/* end 协同人 */

/* start 指派给负责人 内容 */
.task-allot-user-content {
  display: flex;
}
.task-allot-content-active {
  height: 100%;
  width: 100%;
}
/* end 指派给负责人 内容 */

/* start 审批弹窗 */
.task-need-approve-dialog {
  .base-modal-body {
    padding: 20px;
    .base-modal-content,
    textarea {
      width: 100%;
    }
  }
}
/* end 审批弹窗 */

.last-user-button {
  margin-left: 20px;
  margin-bottom: 20px;
}
.empty-user-button {
  margin-left: 0;
}

.task-allot-excutor-container {
  height: 100%;
}

.task-allot-excutor {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-flow: column !important;
  height: 100%;
  
  .task-allot-user-table {
    height: calc(100% - 130px);
    width: 100%;
    .task-allot-user-table-block {
      height: 100%;
      width: 100%;
      .el-table {
        height: 100%;
        overflow: auto;
        .el-table__body-wrapper {
          height: calc(100% - 50px);
        }
      }
    }
  }
  .task-allot-map{
    flex: 1;
    min-height: 380px;
  }
  .task-allot-user-filter {
    border-bottom: 0;
  }
}

/* start new  */
.task-allot-modal-header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  padding: 16px 16px 12px 16px;
  &-type {
    display: flex;
  }
  &-mode {
    margin-left: 24px;
    .el-radio-button__inner {
      &:hover {
        color: $color-warning;
      }
    }
    .is-active {
      .el-radio-button__inner {
        border-color: $color-warning;
        background-color: $color-warning;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.task-allot-modal-result-button {
  button {
    width: 122px;
    max-width: 100% !important;
  }
}
/* end new  */