/* start 弹窗 */
.task-allot-modal {
  display: flex;
  
  .base-modal {
    width: calc(100% - 100px) !important;
  }
  
  .base-modal-body {
    display: flex;
  }
  
  .task-allot-nav {
    width: 178px;
    padding: 0 16px;
  }
  
  .task-allot-content {
    width: calc(100% - 178px);
  }
  
}
/* end 弹窗 */

/* start 派单 导航 */
.task-allot-nav {
  &-title {
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 0 10px;
  }
}
/* end 派单 导航 */

/* start 协同人 */
.task-allot-synergy {
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .user-button {
      margin: 0 5px 5px 0;
    }
  }
}
/* end 协同人 */

/* start 指派给负责人 内容 */
.task-allot-user-content {
  display: flex;
}
.task-allot-content-active {
  height: 100%;
  width: 100%;
}
/* end 指派给负责人 内容 */