.task-receipt-view-container {
  .payment-info-row {
    white-space: nowrap;
    
    .payment-method {
      img {
        height: 25px;
        vertical-align: middle;
      }
    }
  }

  .btn-group {
    text-align: right;
  }

  .form-view-row-receipt {
    display: block;

    label {
      margin-bottom: 8px;
    }
  }
}