.task-allot-user-map {
  height: 100%;
}
#TaskAllotUserMapContainer {
  height: 100%;
  width: 100%;
}
.task-allot-user-content {
  .base-panel {
    box-shadow: -4px 1px 6px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 235px;
    bottom: 53px;
}
  .base-panel-title {
    display: none;
  }
}