.biz-version-limit-dialog {
  & > .base-modal-mask {
    align-items: flex-start;
    .base-modal {
      margin: 50px auto;
    }
    .base-modal-header {
      display: none;
    }
  }
}

.biz-version-limit-dialog-header {
  height: 174px;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}

.biz-version-limit-dialog-body {
  height: 134px;
  &-text {
    color: $text-color-regular;
    line-height: 32px;
    padding-top: 7px;
    text-align: center;
  }
  &-btn-group {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    button {
      width: 150px;
    }
    .service-button {
      color: $color-primary;
    }
  }
}

.application-upgrade-prompt-dialog {
  .base-modal {
    width: 420px !important;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  .application-upgrade-prompt-dialog {
    background-color: #fff;
    text-align: center;
  }
  &-qrcode {
    padding: 30px;
    img {
      margin: 0 auto;
    }
  }
  &-message {
    color: $text-color-regular;
    line-height: 50px;
    text-align: center;
  }
}