.calculation-formula-modal {
  
  .base-modal-body {
  
    div {
      line-height: 30px;
      margin-top: 30px;
    }
    
    padding: 20px;
  }
  
  .calculation-formula-operators,
  .calculation-formula-block,
  .calculation-formula-fields {
    
    span {
      border: 1px solid $color-success;
      cursor: pointer;
      
      display: inline-block;
      height: 30px;
      width: 60px;
      margin-left: 10px;
      
      text-align: center;
    }
  }
  
  .calculation-formula-block {
    border-bottom: 1px solid $color-border-l2;
    padding-bottom: 20px;
    
    span {
      border: none;
    }

    .error {
      border: 1px solid $color-danger;
    }
    
  }

}