.task-state-block {
  width: 52px;
  height: 22px;
  border-radius: 11px;
  margin-left: 8px;
  margin-top: 5px;
  text-align: center;
  line-height: 22px;
  &-overtime,
  &-approve {
    display: inline-block;
    color: #fff;
  }
  &-overtime {
    background-color: #F56C6C;
  }
  &-approve {
    background-color: #FAAE14;
  }
}

.task-list-operation-bar-container {
  justify-content: flex-end !important;
}

// S 顶部筛选
.common-list {
  &-section {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
  }
  &-filter {
    padding-bottom: 10px;
    &-flow {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      height: 35px;
      background-color: #eee;
      font-size: 12px;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
      border-radius: 3px;
      &-item,
      &-dropdown {
        height: 100%;
        transition: background-color ease 0.3s, color ease 0.3s;
        &:hover {
          background-color: #55b7b4;
          color: #fff;
        }
        &:first-child {
          border-radius: 3px 0 0 3px;
        }
      }
      .extion {
        &:hover {
          background-color: #ef6b6b;
          color: #fff;
        }
      }
      &-dropdown {
        padding: 0 8px;
        border-radius: 0 3px 3px 0;
      }
      &-active {
        background-color: #55b7b4;
        color: #fff !important;
      }
    }
    &-span1 {
      flex: 1;
    }
    &-other {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 35px;
      margin-left: 10px;
      border-radius: 3px;
      background-color: #eee;
      font-size: 12px;
      cursor: pointer;
      .icon-more {
        font-size: 12px;
      }
      &-item {
        transition: background-color ease 0.3s, color ease 0.3s,
          border-color ease 0.3s;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 35px;
        border-radius: 3px;
        &:hover {
          background-color: #55b7b4;
          color: #fff;
        }
      }
    }
  }
}
// E 顶部筛选

// S 新建 and 删除
.top-btn-group {
  position: relative;
}
// E 新建 and 删除

// S 头部
.select-list {
  background-color: #f0f0f0;
  border-radius: 4px;
  &-item {
    padding: 0 20px;
    line-height: 31px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    cursor: pointer;
    &:hover {
      transition: background-color ease 0.3s, color ease 0.3s;
      color: #fff;
      background-color: #55b7b4;
    }
  }
  &-active {
    transition: background-color ease 0.3s, color ease 0.3s;
    color: #fff;
    background-color: #55b7b4;
  }
}
// E 头部
//导入工单
.import-task {
  position: relative;
  left: -15px;
  padding-left: 15px;
  &:hover &-item {
    display: block;
  }
  &-item {
    position: absolute;
    background: #fff;
    color: #333;
    left: -115px;
    top: -8px;
    border: 1px solid #eee;
    border-radius: 4px;
    display: none;
    > div {
      padding: 4px 15px;
      width: 120px;
      &:hover {
        background-color: #eef8f8;
        color: #77c5c3;
      }
    }
  }
}

.superscript {
  position: relative;
  padding-left: 22px !important;
}
.superscript::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: linear-gradient(135deg, #ff9900 50%, transparent 50%);
}

.superscript::after {
  content: "示例";
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  transform: scale(0.9166666) rotateZ(-45deg);
}
.task-client {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.task-list {
  &-header {
    background: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 12px;
    border-top: none;
    &-seach {
      padding: 6px 0;
      .seach {
        justify-content: flex-end;
        padding-right: 16px;
        .advanced-search-visible-btn {
          width: 98px;
          height: 32px;
          background: #e9f9f9;
          border-radius: 4px;
          border: 1px solid #d0f3f4;
          font-size: 14px;
          color: #13c2c2;
          line-height: 32px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
    &-nav {
      > div {
        position: relative;
        cursor: pointer;
        border-top: 1px solid #F5F5F5;
        .state {
          padding-top: 4px;
          padding-left: 11px;
          width: 90px;
          font-weight: 500;
          background-color: #FAFAFA;
        }
        .element-icon i {
          position: absolute;
          right: 12px;
          top: 6px;
        }
        .list {
          width: 90%;
          overflow: hidden;
          // height: 30px;
          .list-item {
            > div {
              padding-left: 11px;
              font-size: 13px;
              width: 130px;
              height: 30px;
              overflow-y: hidden;
              color: #808080;
              line-height: 30px;
              &:hover {
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}
.task-list-del {
  cursor: pointer;
  width: 88px;
  text-align: center;
}
.task-width103 {
  padding: 0 25px;
  text-align: center;
}
.table-footer {
  margin-top: 20px;
}
.task-ic19 {
  width: 18px;
  height: 15px;
  margin-right: 3px;
}
.task-list-dropdown-item {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.task-list-dropdown-icon {
  display: none;
}
.task-list-numbering {
  display: inline-block;
  min-width: 110px;
}
.task-buttom {
  > button {
  margin: 0!important;
  margin-right: 10px!important;
  }
}
.task-bj{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6) ;
}