.base-selection-bar-container {
  width: 100%;
  height: 28px;
  border-radius: 4px;
  background: #fff;
  //border: 1px solid rgba(254, 139, 37, 0.32);
  font-size: 12px;
  .content {
    padding: 0 7px;
    background: rgba(254, 139, 37, 0.08);
    line-height: 28px;

    span {
      color: #2CB9B0;
      padding: 0 10px;
      position: relative;
      &:hover {
        cursor: pointer;
      }
    }

    .tooltip {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      text-align: center;
      background: #2A2B2D;
      color: #fff;
      border-radius: 4px;


      .arrow {
        background: #2A2B2D;
        height: 5px;
        width: 5px;
        position: absolute;
        left: 50%;
        transform: rotateZ(45deg) translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: -5px;
      }
    }

  }
}
