.form-design {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
}

.form-design-panel {
  width: 310px;
  height: 100%;
  padding: 0 10px;
  user-select: none;
  background-color: #fff;
}

.form-design-tabs {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #ddd;
}

.form-design-tab {
  padding: 10px;
  flex: 1;
}

.form-design-tabs-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-design-field-wrap {
  margin: 10px 0 0 0;
  cursor: move;
}

.form-design-field {
  position: relative;
  width: 140px;
  height: 32px;
  line-height: 24px;
  padding: 3px 24px 3px 10px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 12px;
  transition: background-color ease .15s;

  &:hover {
    background-color: #f0f0f0;
  }

  i.iconfont {
    position: absolute;
    font-size: 18px;
    top: 3px;
    right: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #666;
  }
}

.form-design-main {
  width: calc(100% - 630px);
  height: 100%;
  padding: 10px 15px;
  border-top: none;
  border-bottom: none;
  user-select: none;
  overflow: auto;
}

.form-design-setting {
  width: 320px;
  height: 100%;
  background-color: #fff;
}

// ------------ setting ------------
.form-setting-panel {
  height: 100%;
  overflow: auto;
  padding: 8px 10px;

  & > h3 {
    line-height: 24px;
    padding: 3px 0;
    font-size: 16px;

    border-bottom: 1px solid #ddd;
    margin: 0 0 8px 0;
  }
}

.form-setting-group {
  margin-bottom: 5px;

  input[type='text'],
  textarea {
    width: 100%;
  }

  label {
    margin: 0 5px 0 0;
    vertical-align: middle;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin-right: 3px;
  }

  textarea {
    display: block;
  }
}

// ------------ preview ------------
.form-preview-group {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  padding: 10px;

  label {
    display: block;
    margin: 0;
    width: 110px;
    line-height: 32px;

    @include text-ellipsis();
  }
}

.form-preview-mock {
  flex: 1;
  overflow: hidden;
  pointer-events: none;
}

.form-preview-control {
  width: 100%;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #ddd;
  line-height: 30px;
  height: 32px;
  color: #9a9a9a;
  margin: 0;
  @include text-ellipsis();
}

.form-preview-withIcon {
  padding-right: 24px;
  position: relative;

  i.iconfont {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 32px;
    line-height: 30px;
    font-size: 18px;
  }
}

.form-preview-notNull {
  color: red;
}

// ------------ design ------------
.form-design-phone {
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, .15);
  width: 100%;
  max-width: 414px;
  min-width: 240px;
  height: 100%;
  min-height: 50%;
  margin: 0 auto;
  overflow: auto;
  border-radius: 1px;
  background-color: #fff;
}

.form-design-tip {
  background: url('../../assets/img/form-design-tip.png') no-repeat 50%;
  background-size: 239px 96px;
  position: relative;
  min-height: 300px;

  p {
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    color: #999;
    pointer-events: none;
    margin: 0;
  }
}

.form-design-silence {
  .form-design-preview:hover {
    border-color: transparent !important;
  }

  .form-design-preview-delete {
    display: none !important;
  }
}

.form-design-ghost {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: move !important;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 8px rgba(0, 0, 0, .125);

  .form-design-field {
    background-color: #fff;
  }
}

.form-design-preview {
  position: relative;
  border: 1px dashed transparent;

  &.form-design-selected {
    border-style: solid;
    border-color: $color-primary;
  }

  &:hover {
    border-color: $color-primary;

    .form-design-preview-delete {
      display: block;
    }
  }
}

.form-design-dragging {
  border-color: $color-primary !important;
  border-style: solid !important;
  opacity: .65;
}

.form-design-preview-delete {
  position: absolute;
  display: none;
  top: -1px;
  right: -1px;
  border: none;
  background-color: $color-primary;
  color: #fff;
  outline: none;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  z-index: 9;
  cursor: pointer;

  i {
    font-size: 14px;
  }
}

.form-design-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  cursor: move;
}

// ------------ form-view ------------
.form-view{
  background-color: #fff;
  padding: 5px 0;
}

.form-view-row {
  display: flex;
  justify-content: flex-start;
  padding: 8px 20px;
  color: $text-color-primary;

  label {
    line-height: 20px;
    width: 98px;
    flex-shrink: 0;
    margin: 0;
    color: $text-color-regular;
  }

  .form-view-row-content{
    line-height: 20px;
    flex: 1;
    overflow-x: hidden;
    color: $text-color-primary;
    word-break: break-word;
  }
}

.form-view-textarea-preview{
  white-space: pre-line;
}

.section-title {
  height: 30px;
  line-height: 30px;
  padding: 0 32px 0 20px;
  font-size: 14px;
  color: $color-primary;
  margin: 8px 0;
  background: $color-regular;
  font-weight: normal;
  position: relative;

  .iconfont {
    position: absolute;
    right: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: $text-color-regular;
    
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  .reversal {
    transform: rotateZ(180deg);
  }
}

.form-view-group{
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
}

// ------------ form-builder ------------
.form-builder{
  padding: 10px;
  background-color: #fff;
}

.form-builder-group{
  border-radius: 2px;
  margin-bottom: 10px;
}

.form-design-warning{
  padding: 10px;
  border-radius: 2px;
  background-color: #fdf6ec;
  color: #e6a23c;
}

.form-item__text{
  padding: 3px 0;
  line-height: 24px;
  color: #666;
}