.task-allot-pool-info {
  display: flex;
  height: 50px;
  width: 100%;
  &-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    &-content {
      display: inline-block;
      font-weight: 500px;
      margin-left: 3px;
    }
    .el-checkbox {
      margin-right: 5px !important;
      margin-bottom: 2px !important;
    }
  }
}