// 工单指派人员筛选
.task-allot-user-filter {
  display: flex;
  
  .biz-team-select,
  .base-select-container,
  .el-select {
    flex: 1;
  }
}

.task-allot-user-table {
  max-height: 462px;
  &-column {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  &-excutor-column {
    display: flex;
    justify-content: center;
    .el-checkbox {
      margin: 0;
    }
    .el-checkbox__inner {
      border-radius: 50%;
    }
  }
}

.task-allot-user-table-block {
  .el-table__body-wrapper {
    max-height: 360px;
    overflow-y: scroll;
  }
}

.task-allot-map{
  &-excutor-window {
    border-radius: 4px;
    background-color: $color-primary;
    color: #fff;
    
    line-height: 30px;
    text-align: center;
    
    position: relative;
    left: 10px;
    
    width: 60px;
  }
}