// 工单指派人员筛选
.task-allot-user-filter {
  display: flex;
  
  .task-allot-table-user,
  .biz-team-select,
  .base-select-container,
  .el-select {
    flex: 1;
  }
  
  .base-select-container {
    .list-wrapper {
      width: 300px;
    }
  }
  .contact-user-avatar-margin {
    margin-top: 0;
  }
  .option-list li {
    &:hover {
      background-color: transparent;
    }
  }
}

.task-allot-user-table {
  max-height: 412px;
  &-column {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  &-excutor-column {
    display: flex;
    justify-content: center;
    .el-checkbox {
      margin: 0;
    }
    .el-checkbox__inner {
      border-radius: 50%;
    }
  }
  .biz-team-select-tag {
    max-width: 135px;
  }
}

.task-allot-user-table-block {
  max-height: 300px;
  overflow-y: auto;
  .el-table__body-wrapper {
    max-height: 250px;
    overflow-y: scroll;
  }
}

.task-allot-map{
  &-excutor-window {
    border-radius: 4px;
    background-color: $color-primary;
    color: #fff;
    
    line-height: 30px;
    text-align: center;
    
    position: relative;
    left: 10px;
    
    width: 60px;
  }
}

.task-allot-user-table-location-select-other {
  height: 80px;
  .el-input {
    width: 90px;
    margin: 0 10px;
  }
  .el-checkbox {
    margin-left: 10px;
  }
  .el-checkbox__inner {
    height: 20px;
    width: 20px;
    &::after {
      height: 12px;
      left: 6px;
      top: 0;
      width: 7px;
    }
  }
  .location-confirm-button {
    margin-left: 20px;
  }
}

.task-allot-table-user-input {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #e0e1e2;
  font-size: $font-size-base;
  line-height: 28px;
  padding: 0 10px;
  height: 100%;
    
  span {
    display: inline-block;
  }
    
  .el-tag {
    margin-left: 5px;
  }

  &-placeholder {
    color: $text-color-secondary;
    font-size: $font-size-small;
  }
}

.task-allot-user-table-column-field {
  text-align: center;
  &-label {
    color: $color-primary;
    font-size: $font-size-base;
  }
}

.task-allot-table-user-dept {
  display: flex;
  align-items: center;
  height: 100%;
  .biz-team-select-tag {
    height: 20px;
  }
}

.el-select-dropdown {
  .user-state-round {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.task-allot-state-select-item {
  display: flex;
  align-items: center;
}

.task-allot-user-table-append-block {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
