// 工单指派人员筛选
.task-allot-user-filter {
  display: flex;
  
  .biz-team-select,
  .base-select-container,
  .el-select {
    flex: 1;
  }
}

.task-allot-user-table {
  max-height: 462px;
  &-column {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
}

.task-allot-user-table-block {
  .el-table__body-wrapper {
    max-height: 360px;
    overflow-y: scroll;
  }
}