.user-card {
  height: 100%;
  width: 470px;
  padding: 30px 20px 0px 20px;
  position: relative;
  overflow-y: auto;
}

.user-card-close {
  cursor: pointer;
  color: $text-color-secondary;
  position: absolute;
  right: 20px;
  top: 6px;
  i {
    font-size: $font-size-base;
  }
}

.user-card-header {
  display: flex;
  padding: 0 12px 12px 0;
  min-height: 106px;
  &-head {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
  &-head,
  &-content {
    margin-left: 10px;
  }
}

.user-card-header-content {
  color: $text-color-regular;
  flex-wrap: wrap;
  &-name {
    cursor: pointer;
    font-size: $font-size-base;
    font-weight: 600;
    line-height: 20px;
    i {
      color: #FFB302;
      margin-left: 10px;
    }
  }
  &-state {
    span {
      display: inline-block;
      margin-right: 10px;
    }
    .user-state-round {
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }
  }
  &-team {
    display: flex;
  }
  &-name, &-state, &-team {
    line-height: 20px;
    margin: 2px 0;
  }
  .user-card-header-content-team {
    span {
      @include text-ellipsis-2();
    }
    i {
      cursor: pointer;
      color: #FFB302;
      margin-right: 10px;
    }
  }
}

.user-card-header-content {
  &-top {
    display: flex;
    flex-wrap: wrap;
    & > div {
      align-items: center;
      width: 100%;
    }
    &-left {
      flex: 1;
    }
  }
}

.user-card-time {
  height: 40px;
}

.user-card-time,
.user-card-detail {
  color: $text-color-primary;
  padding-top: 12px;
  margin-right: 30px;
}

.user-card-detail {
  min-height: 120px;
  &-row {
    display: flex;
    margin-bottom: 20px;
  }
  &-chunk {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      height: 40px;
      width: 100%;
    }
    &-label {
      color: $text-color-regular;
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
  }
}

.user-card-header-content-labels {
  display: flex;
  padding: 4px 0;
}

.user-label {
  background-color: rgb(249, 129, 22);
  border-radius: 2px;
  color: #fff;
  font-size: $font-size-small;
  height: 16px;
  line-height: 16px;
  width: 29px;
  margin-right: 4px;
  padding: 0 2px;
  text-align: center;
  &-manager {
    background-color: $color-primary;
  }
}

.user-card-footer {
  background-color: $bg-color-l2;
  
  display: flex;
  align-items: center;
  
  height: 40px;
  width: calc(100% + 40px);
  padding: 0 20px;

  position: relative;
  left: -20px;

  .el-checkbox {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 0;
  }

  .el-radio-group {
    display: flex;
    justify-content: space-around;
    label {
      margin-right: 30px;
    }
  }
}