@import '../common/taskFormSetting.scss';
.setting-task-card {
    height: 100%;
    overflow-y: hidden;
    background: #f5f5f5;
    .setting-task-card-header{
        padding: 0px 24px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-bottom: 1px solid #f4f7f5;
        .setting-task-card-left{
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            height: 48px;
            line-height: 48px;
            color: #666666;
            .setting-back-btn{
                margin-bottom: 0;
                padding-right: 14px;
                border-right: 1px solid #F5F5F5;
                width: 90px;
            }
            .setting-back-name{
                margin-left: 12px;
                height: 35px;
                .el-input__inner{
                    width: 150px;
                    border: none;
                    border-bottom: 1px dashed $color-primary;
                }
                    
            }
        }
        .setting-header-text{
            margin-right: 12px;
        }
    }
    .setting-task-design{
        padding: 12px;
        height: calc(100% - 53px);
      }
}