.my-shop-box {
  margin: 0 12px;
  min-width: 650px;
}


.flex-x {
  display: flex;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}


.al-end {
  align-items: flex-end !important;
}

.al-s {
  align-items: stretch !important;
}

.al-center {
  align-items: center !important;
}

.flex-w {
  flex-wrap: wrap;
}

.al-start {
  align-items: flex-start !important;
}

.cur-point {
  cursor: pointer;

  &:hover {
    color: $color-primary;

    i {
      color: $color-primary !important;
    }
  }
}

.mar-t-8 {
  margin-top: 8px;
}

.mar-t-10 {
  margin-top: 10px;
}

.mar-t-12 {
  margin-top: 12px;
}

.mar-t-20 {
  margin-top: 20px;
}

.mar-t-50 {
  margin-top: 50px;
}

.mar-l-6 {
  margin-left: 6px;
}

.mar-l-8 {
  margin-left: 8px;
}

.mar-l-9 {
  margin-left: 9px;
}

.mar-l-10 {
  margin-left: 10px !important;
}

.mar-l-12 {
  margin-left: 12px;
}

.mar-l-14 {
  margin-left: 14px;
}

.mar-l-16 {
  margin-left: 16px;
}

.mar-l-20 {
  margin-left: 20px;
}

.mar-l-24 {
  margin-left: 24px;
}

.mar-l-25 {
  margin-left: 25px;
}

.mar-l-28 {
  margin-left: 28px;
}

.mar-l-30 {
  margin-left: 30px;
}

.mar-l-32 {
  margin-left: 32px;
}

.mar-l-19 {
  margin-left: 19px;
}

.mar-l-44 {
  margin-left: 44px;
}

.mar-l-57 {
  margin-left: 57px;
}

.mar-r-4 {
  margin-right: 4px;
}

.mar-r-6 {
  margin-right: 6px;
}

.mar-r-8 {
  margin-right: 8px;
}

.mar-r-9 {
  margin-right: 9px;
}

.mar-r-10 {
  margin-right: 10px;
}

.mar-r-12 {
  margin-right: 12px;
}

.mar-r-14 {
  margin-right: 14px;
}

.mar-r-15 {
  margin-right: 15px;
}

.mar-r-16 {
  margin-right: 16px !important;
}


.mar-r-20 {
  margin-right: 20px;
}

.mar-r-24 {
  margin-right: 24px;
}

.mar-r-38 {
  margin-right: 38px;
}

.mar-r-53 {
  margin-right: 53px;
}

.mar-r-56 {
  margin-right: 56px;
}

.mar-r-57 {
  margin-right: 57px;
}

.mar-r-100 {
  margin-right: 100px;
}

.mar-r-120 {
  margin-right: 120px;
}

.mar-r-128 {
  margin-right: 128px;
}

.mar-r-140 {
  margin-right: 140px;
}

.mar-r-190 {
  margin-right: 190px;
}

.mar-r-210 {
  margin-right: 210px;
}

.mar-r-245 {
  margin-right: 245px;
}

.mar-b-5 {
  margin-bottom: 5px;
}

.mar-b-8 {
  margin-bottom: 8px;
}

.mar-b-10 {
  margin-bottom: 10px;
}

.mar-b-12 {
  margin-bottom: 12px;
}

.mar-b-14 {
  margin-bottom: 14px;
}

.mar-b-15 {
  margin-bottom: 15px;
}

.mar-b-17 {
  margin-bottom: 17px;
}

.mar-b-18 {
  margin-bottom: 18px;
}

.mar-b-20 {
  margin-bottom: 20px;
}

.mar-b-28 {
  margin-bottom: 28px;
}

.mar-b-30 {
  margin-bottom: 30px;
}

.mar-b-32 {
  margin-bottom: 32px;
}

.mar-b-35 {
  margin-bottom: 35px;
}

.mar-t-24 {
  margin-top: 24px;
}

.font-24 {
  font-size: 24px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px !important;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-10 {
  font-size: 10px;
}

.font-16 {
  font-size: 16px;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-500 {
  font-weight: 500;
}

.min-w-214 {
  min-width: 214px;
}

.min-w-361 {
  min-width: 361px;
}

.min-w-500 {
  min-width: 500px;
}

.min-w-604 {
  min-width: 604px;
}

.min-w-620 {
  min-width: 620px;
}

.min-w-406 {
  min-width: 406px;
}

.min-w-650 {
  min-width: 650px;
}

.min-w-700 {
  min-width: 700px;
}

.w-128 {
  width: 128px;
}

.pad-l-10 {
  padding-left: 10px;
}

.pad-b-34 {
  padding-bottom: 34px;
}

.pad-b-20 {
  padding-bottom: 20px;
}

.w-228 {
  width: 228px;
}

.w-33-present {
  width: 33.33%;
  box-sizing: border-box;
}

.h-32 {
  height: 32px;
}

.overHideCon-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.overHideCon-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.overHideCon-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.color-ccc {
  color: #ccc;
}

.color-666 {
  color: #666;
}

.color-primary {
  color: $color-primary !important;
}

.color-danger {
  color: $color-danger;
}


.can-move {
  cursor: move;
}

.el-input__suffix {
  right: 0;
}

.el-dialog__header {
  padding: 10px;
  position: relative;
}

.el-dialog__footer {
  padding: 10px;
}

.el-dialog__headerbtn {
  top: 0;
  bottom: 0;
  margin: 0;
}

.box-12-t-b {
  padding: 12px 0;
}

.box-10 {
  padding: 10px;
}

.box-12 {
  padding: 12px;
}

.text-center {
  text-align: center;
}

.color-999 {
  color: #999;
}

.pos-r {
  position: relative;
}

.max-w-100p {
  max-width: 100%;
}

.max-w-488 {
  max-width: 488px;
}


.bg-w {
  background: #fff;
}

.jus-center {
  justify-content: center;
}

.jus-bet {
  justify-content: space-between;
}

.jus-end {
  justify-content: flex-end;
}

.over-x-h {
  overflow-x: hidden;
}

.over-x-s {
  overflow-x: scroll;

  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
  }
}

.size-160 {
  width: 160px;
  height: 160px;
}
.size-50 {
  width: 50px;
  height: 50px;
}
.normal-form-view-box {
  padding: 8px 20px;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-box-y {
  height: 100vh;
  overflow: hidden;
}

.normal-btn-box {
  padding: 12px 0;
  display: flex;
  align-items: center;
}

.el-tooltip__popper {
  max-width: 90%;
}


.guide-point {
  z-index: 997 !important;
  position: sticky !important;
  position: -webkit-sticky !important;
}

.hide-scroll{
  &::-webkit-scrollbar {
    display: none;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}